
{%extends "shopapp/index.html"%}

{%block content %}
<style>
   h1{
        text-align:center;
        color:green;
    }
    table{
      text-align:center;
      color:black;
      border:5px double green;

      padding :10px;
      background:black;
      color:white;
      width:100%;
     }
     th{
      font-size:25px;
      text-align:center;
      font-family:Comic Sans MS;
      color:green;
      line-height:60px;
      padding:20px;
     }
     
     a{
      text-decoration:none;
      border-radius:15px;
      padding:10px;
      color:white;
      font-size:15px;
     }
     td{
      font-size:20px;
      font-family:Cascadia Code SemiBold;
     }

</style>
<h1>View all your prodcuts here... </h1><br>
<hr>
{%if newproductdata %}
<table "table table-dark">
    {% for i in newproductdata%}
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Opertions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{i.Name}}</td>
        <td>{{i.Description}}</td>
        <td>{{i.Price}}</td>
        <td><a href="/shopapp/delete/{{i.id}}"type="button" class="btn btn-danger" name="button">{{i.id}}Delete</a></td><td></td>
        <td><a href="/shopapp/update/{{i.id}}" type="button" class="btn btn-success" name="button">{{i.id}}Update</a></td><td></td>
      </tr>
      <tr>
    </tbody>
    {%endfor%}
  </table>
    {%else%}
  no data
  {% endif %}
  {%endblock%}

